.page {
    height: 100%;
    background-color: rgb(18, 18, 18);
    position: absolute;
    right: 0;
    width: 100%;
    padding: 10px;

    .the-cover-container {
        position: absolute;
        right: 0;
        width: 70%;
    }
}

.home-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(120, 150, 0);
    text-align: center;
    position: relative;
    padding: 17px;
    font-size: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0 auto;
    transition: all ease 0.2s;
    animation: loop4 linear 2.2s infinite;
}

.circle {
    position: relative;
    display: flex;
    ;

    margin: 15%;
    width: 400px;
    height: 400px;
    left: -14%;
    border: 3px solid rgba(255, 255, 255, 0.08);
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    background: linear-gradient(120deg, #191919, #101110);
    animation: loop4 linear 2.2s infinite;
    /* animation: ; */
}


.c {
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: white;
    animation: loop4 linear 60.2s infinite;
    transition: all ease 0.2s;

}

.h2:hover {
    cursor: pointer;
    background: rgb(56, 132, 3);
    color: #ffffff;

    .p {
        color: gold !important;
    }

}

.p {
    position: relative;
    font-size: 18px;
    width: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all ease 0.2s;
    text-transform: uppercase;
    animation: loop linear 2.2s infinite;
}

.p:hover {
    letter-spacing: 2px;
    font-size: 33px;
    color: gold;
    backdrop-filter: blur(130px);
    background-color: rgba(255, 217, 0, 0.146);
    border-radius: 310px 100px;
}




@keyframes loop2 {
    0% {
        box-shadow: 0px 0px 10px 0px white;
    }

    25% {
        box-shadow: 0px 0px 10px 0px rgb(222, 227, 245);
    }

    50% {
        box-shadow: 0px 0px 10px 0px rgb(121, 115, 240);
    }

    75% {
        box-shadow: 0px 0px 10px 0px rgb(62, 139, 255);
        ;
    }

    100% {
        box-shadow: 0px 0px 10px 0px white;

    }
}

@keyframes loop4 {
    0% {
        box-shadow: 0px 0px 90px 50px rgba(24, 250, 3, 0.103);
    }

    25% {
        box-shadow: 0px 0px 150px 20px rgba(182, 206, 0, 0.817);
    }

    50% {
        box-shadow: 0px 0px 150px 20px rgba(255, 255, 0, 0.571);
    }

    75% {
        box-shadow: 0px 0px 150px 20px rgba(182, 206, 0, 0.817);
        ;
    }

    100% {
        box-shadow: 0px 0px 90px 50px rgba(3, 250, 143, 0.169);
    }
}

@keyframes the_spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(3600deg);
    }
}

.p2 {
    left: -50px;
    top: -100px;
    width: 100px;

}

.p3 {
    right: 80px;
    transform: rotate(-45deg);

    width: 100px;

}

.p1 {
    left: -140px;
    top: -10px;

}

.p4 {
    left: 100%;
    transform: rotate(45deg);


}

.p5 {
    left: 100%;

    top: -13px;
}




.c1 {
    width: 110%;
    height: 1px;
}

.c2 {
    width: 1px;
    height: 110%;
}

.c3 {
    width: 110%;
    height: 1px;
    transform: rotate(45deg);
}

.c5 {
    text-align: right;
}

.c4 {
    width: 110%;
    height: 1px;
    text-align: right;
    transform: rotate(-45deg);
}

.p6 {
    bottom: -105%;
    right: 47px;
    font-size: 40px;
}

.p7 {
    bottom: -110%;
    font-size: 40px;
    right: -440px;
    transform: rotate(-45deg);
}

.p8 {
    bottom: -110%;
    font-size: 40px;
    right: 100px;
    transform: rotate(45deg);
}


@media (max-width:991px) {
    .page {
        width: 100%;
        overflow-x: hidden;
    }

    .circle {
        width: 200px;
        height: 200px;
        left: 23px;
        bottom: 100px;
    }

    .p {
        font-size: 14px;
    }

    .p1 {
        left: -104px;
    }

    .p7 {
        position: absolute;
        bottom: 115%;
        top: 20px;
        right: -80px;

    }

    .lock {
        font-size: 20px;
    }
}